.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  border-bottom: 1px solid black;
  font: 1em sans-serif;
  font-size: large;
  
}
.links{
  margin-left: auto;
}
.nav-link{
  color: white;
  background-color:#f1356d;
  border-radius:8px;
}
.navbar a{
  margin-left: 16px;
  text-decoration: none;
  padding:6px;
}
.navbar a:hover{
  color: black;
}
.title{
  font-weight: bold;
  color: #f1356d;
}
.likes{
  border: 1px solid #0505b6;
  border-radius: 180px;
  max-width: 55px;
  background-color: #f1356d;
  color: rgb(6, 6, 6);
  font-weight: bold;
  padding-left: 3px;
}
.likes:hover{
  cursor: pointer;
  color: rgb(255, 255, 255);
}
.content{
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.blog-preview{
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1 px solid #fafafa;
}
.blog-preview:hover{
  box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
}
.blog-preview h2{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.blog-preview a{
  text-decoration: none;
}
.blog-details h2{
font-size: 20px;
color: #f1356d;
margin-bottom: 10px;
}
.blog-details div{
    margin: 20px 0;
}
.blog-details button{
  background:#f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.create{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  /* font: 1em sans-serif; */
}
.create label{
  text-align: left;
  display: block;
  
}
.create h2{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea,.create select{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create textarea{
  height: 200px;
}
.create button{
  background: #f1356d;
  color: #fff;
  font-size: medium;
  width: 150px;
  padding: 10px;
  border: 0px;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 10px;
}